*.iml
.gradle/
local.properties
.idea/
.DS_Store
build/
captures/
.externalNativeBuild/
.cxx/
/captures
.externalNativeBuild
.cxx
*.apk
*.ap_
*.dex
*.class
*.log
*.tmp
*.bak
*.swp
*~
gen/
bin/
proguard/
*.hprof
google-services.json
app/google-services.json
CS4405_Unit_3_Technical_Implementation_Plan.docx
